
/*--------------------------------------------------
	[48. Accordions]
----------------------------------------------------*/
/*Accordion v1
------------------------------------*/
.acc-v1 .panel-heading {
    padding: 0;
    box-shadow: none;
}

.acc-v1 .panel-heading a {
    display: block;
    font-size: 14px;
    padding: 5px 15px;
    background: #fefefe;
}

.acc-icon a.accordion-toggle i {
    color: #555;
    margin-right: 8px;
}
.acc-icon a.accordion-toggle:hover i {
    color: #39414c;
}
