
/*--------------------------------------------------
	[20. Featured Blog]
----------------------------------------------------*/
.featured-blog h2 {
    font-size: 18px;
    margin: 0 0 25px;
    line-height: 25px;
    position: relative;
}

.featured-blog h2:after {
    left: 0;
    z-index: 1;
    width: 30px;
    height: 2px;
    content: " ";
    bottom: -10px;
    position: absolute;
    background: #3498db;
}

.featured-blog .featured-img {
    position: relative;
}

.featured-blog .featured-img:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    transition: all 0.4s ease-in-out;
}

.featured-blog .featured-img:hover:after {
    background: rgba(0,0,0,0.3);
    transition: all 0.2s ease-in-out;
}

.featured-blog .featured-img > img {
    width: 100%;
}

/*Team Hover Gradient*/
.featured-blog .featured-img i {
    top: 60%;
    left: 50%;
    z-index: 1;
    width: 100%;
    list-style: none;
    text-align: center;
    visibility: hidden;
    position: absolute;
    margin: -17.5px 0 0 -17.5px;
    transition: all 0.2s ease-in-out;
}

.featured-blog .featured-img:hover i {
    top: 50%;
    visibility: visible;
}

.featured-blog .featured-img i {
    color: #fff;
    width: 35px;
    height: 35px;
    padding: 11px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    background: rgba(255,255,255,0.4);
}

.featured-blog .featured-img i:hover {
    color: #fff;
    background: #3498db;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

/*--------------------------------------------------
	[21. Blog Comments]
----------------------------------------------------*/
.blog-comments img {
    width: 80px;
    height: auto;
}

.blog-comments .comments-itself {
    background: #fff;
    padding: 20px 30px;
    position: relative;
}

.blog-comments .comments-itself:before {
    width: 0;
    height: 0;
    top: 20px;
    left: -17px;
    content: " ";
    position: absolute;
    border-style: solid;
    border-width: 15px 17px 15px 0;
    border-color: transparent #fff transparent transparent;
}

.blog-comments .comments-itself h3 {
    margin: 0 0 10px;
}

.blog-comments .comments-itself span {
    color: #999;
    float: right;
    font-size: 13px;
}

.blog-comments .comments-itself p {
    color: #999;
}

/*Comments Reply*/
.blog-comments.blog-comments-reply {
    margin-left: 70px;
}

/*Media Queries*/
@media (max-width: 768px) {
    .blog-comments .comments-itself:before {
        display: none;
    }

    .blog-comments .comments-itself:after {
        width: 0;
        height: 0;
        top: -17px;
        left: 20px;
        content: " ";
        position: absolute;
        border-style: solid;
        border-width: 0 15px 17px 15px;
        border-color: transparent transparent #fff transparent;
    }
}


/*--------------------------------------------------
	[26. Blog Trending]
----------------------------------------------------*/
.blog-trending li {
    margin-bottom: 20px;
}

.blog-trending h3 {
    font-size: 14px;
    margin: 0 0 5px;
    line-height: 17px;
}

.blog-trending small,
.blog-trending small a {
    color: #777;
}

.blog-trending small a:hover {
    color: #3498db;
}

/*--------------------------------------------------
	[27. Blog Latest Posts]
----------------------------------------------------*/
.blog-latest-posts li {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
}

.blog-latest-posts li:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}

.blog-latest-posts h3 {
    font-size: 14px;
    margin: 0 0 3px;
    line-height: 20px;
}

.blog-latest-posts small,
.blog-latest-posts small a {
    color: #777;
}

.blog-latest-posts small {
    margin-bottom: 8px;
    display: inline-block;
}

.blog-latest-posts p {
    font-size: 12px;
}

/*--------------------------------------------------
	[28. Blog Photostream]
----------------------------------------------------*/
.blog-photostream {
    margin-right: -5px;
}

.blog-photostream li {
    padding: 0;
    margin: 3px 5px 5px;
    position: relative;
}

.blog-photostream li img {
    width: 78px;
    height: auto;
}


/*--------------------------------------------------
	[29. Newsletter]
----------------------------------------------------*/
.blog-newsletter p {
    color: #555;
    margin-bottom: 15px;
}

.blog-newsletter .form-control {
    border: none;
}

.blog-newsletter .form-control:focus {
    box-shadow: none;
}

/*--------------------------------------------------
	[30. Blog Post Quote]
----------------------------------------------------*/
.blog-post-quote {
    padding: 35px 60px;
    background: #fff;
    text-align: center;
}

.blog-post-quote p {
    color: #555;
    font-size: 32px;
    font-weight: 200;
    line-height: 45px;
    position: relative;
    margin-bottom: 20px;
    font-family: "Open Sans", Arial, sans-serif;
}

@media (max-width: 768px) {
    .blog-post-quote {
        padding: 35px 25px;
    }

    .blog-post-quote p {
        font-size: 26px;
        line-height: 35px;
    }
}

.blog-post-quote p:before,
.blog-post-quote p:after {
    top: -3px;
    font-size: 30px;
    position: relative;
}

.blog-post-quote p:before {
    left: -10px;
    content: "\0022";
}

.blog-post-quote p:after {
    right: -10px;
    content: "\0022";
}

.blog-post-quote span {
    color: #555;
    font-size: 20px;
    font-weight: 200;
}

/*--------------------------------------------------
	[31. Blog Post Author]
----------------------------------------------------*/
.blog-author {
    padding: 20px;
    background: #fff;
}

.blog-author img {
    float: left;
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.blog-author .blog-author-desc {
    overflow: hidden;
}

.blog-author .blog-author-desc h4 {
    float: left;
    font-size: 18px;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.blog-author .blog-author-desc ul {
    float: right;
    margin-top: 6px;
}

.blog-author .blog-author-desc p {
    color: #555;
}

/*--------------------------------------------------
	[32. Blog Comments]
----------------------------------------------------*/
.blog-comments img {
    width: 80px;
    height: auto;
}

.blog-comments .comments-itself {
    background: #fff;
    padding: 20px 30px;
    position: relative;
}

.blog-comments .comments-itself:before {
    width: 0;
    height: 0;
    top: 20px;
    left: -17px;
    content: " ";
    position: absolute;
    border-style: solid;
    border-width: 15px 17px 15px 0;
    border-color: transparent #fff transparent transparent;
}

.blog-comments .comments-itself h3 {
    margin: 0 0 10px;
}

.blog-comments .comments-itself span {
    color: #555;
    float: right;
    font-size: 13px;
}

.blog-comments .comments-itself p {
    color: #555;
}

/*Comments Reply*/
.blog-comments.blog-comments-reply {
    margin-left: 70px;
}

/*Media Queries*/
@media (max-width: 768px) {
    .blog-comments .comments-itself:before {
        display: none;
    }

    .blog-comments .comments-itself:after {
        width: 0;
        height: 0;
        top: -17px;
        left: 20px;
        content: " ";
        position: absolute;
        border-style: solid;
        border-width: 0 15px 17px 15px;
        border-color: transparent transparent #fff transparent;
    }
}


/*--------------------------------------------------
	[34. Blog Grid]
----------------------------------------------------*/
.blog-grid img {
    margin-bottom: 15px;
}

.blog-grid h3 {
    font-size: 22px;
    margin: 0 0 10px;
    line-height: 1.4;
}

.blog-grid h2.blog-grid-title-lg {
    font-size: 28px;
    line-height: 1.4;
    margin: 0 0 10px;
}

.blog-grid h3.blog-grid-title-sm {
    font-size: 15px;
    line-height: 1.4;
}

.blog-grid h3 a {
    color: #333;
}

.blog-grid p {
    margin-bottom: 15px;
}

.blog-grid-inner {
    padding: 20px;
    background: #fff;
    margin: -70px 40px 0;
    position: relative;
}

/*Blog Grid Gradient*/
.blog-grid .blog-grid-grad {
    position: relative;
}

.blog-grid .blog-grid-grad i {
    top: 10px;
    left: 10px;
    z-index: 1;
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    display: inline-block;
    background: rgba(0,0,0,0.5);
}

/*Blog Grid Info*/
.blog-grid .blog-grid-info {
    padding-left: 0;
    list-style: none;
}

.blog-grid .blog-grid-info li {
    color: #888;
    padding: 0 2px;
    font-size: 12px;
    display: inline-block;
}

.blog-grid .blog-grid-info li:before {
    content: '/';
    font-size: 12px;
    line-height: 1.4;
    margin-right: 9px;
}

.blog-grid .blog-grid-info li:first-child:before {
    content: " ";
    margin-right: 0;
}

.blog-grid .blog-grid-info li a {
    color: #888;
}

.blog-grid .blog-grid-info li a:hover {
    text-decoration: none;
}

/*Read More Link*/
.blog-grid a.r-more {
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
    display: inline-block;
}

.blog-grid a.r-more:hover {
    text-decoration: none;
}

/*--------------------------------------------------
  [35. Blog Thumb]
----------------------------------------------------*/
.blog-thumb {
    overflow: hidden;
}

/*Blog Grid Hover*/
.blog-thumb .blog-thumb-hover {
    float: left;
    position: relative;
    margin-right: 15px;
}

.blog-thumb .blog-thumb-hover:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    transition: all 0.35s, transform 0.35s;
}

.blog-thumb .blog-thumb-hover img {
    width: 120px;
    height: auto;
}

.blog-thumb .blog-thumb-hover img.video-play-btn {
    width: 30px;
    height: 30px;
}

/*Icon Hover Gradient*/
.blog-thumb .blog-thumb-hover .hover-grad {
    left: 0;
    top: 50%;
    z-index: 1;
    opacity: 0;
    width: 100%;
    color: #fff;
    font-size: 20px;
    margin-top: -14px;
    text-align: center;
    position: absolute;
    display: inline-block;
    transition: all 0.65s, transform 0.65s;
}

.blog-thumb .blog-thumb-hover:hover .hover-grad {
    opacity: 1;
    transform 0.55s;
    transition: opacity 0.55s,
}

/*Blog Thumb Description*/
.blog-thumb .blog-thumb-desc {
    overflow: hidden;
}

.blog-thumb .blog-thumb-desc h3 {
    font-size: 14px;
    margin: 0 0 5px;
    font-weight: 400;
    line-height: 1.4;
}

.blog-thumb .blog-thumb-desc h3 a {
    color: #555;
}

/*Blog Grid Info*/
.blog-thumb .blog-thumb-info {
    padding-left: 0;
    list-style: none;
}

.blog-thumb .blog-thumb-info li {
    color: #888;
    padding: 0 2px;
    font-size: 12px;
    display: inline-block;
}

.blog-thumb .blog-thumb-info li:before {
    content: '/';
    font-size: 12px;
    line-height: 1.4;
    margin-right: 9px;
}

.blog-thumb .blog-thumb-info li:first-child:before {
    content: " ";
    margin-right: 0;
}

.blog-thumb .blog-thumb-info li a {
    color: #888;
}

.blog-thumb .blog-thumb-info li a:hover {
    color: #e74c3c;
}

/*Blog Thumb Circle
------------------------------------*/
.blog-thumb.blog-thumb-circle .blog-thumb-hover:after {
    border-radius: 50% !important;
}

.blog-thumb.blog-thumb-circle .blog-thumb-hover img {
    width: 50px;
    height: 50px;
}

.blog-thumb.blog-thumb-circle .blog-thumb-hover .hover-grad {
    font-size: 15px;
    margin-top: -10px;
}

/*Blog Thumb Colors
------------------------------------*/
.blog-thumb .blog-thumb-hover:hover:after {
    background: rgba(114,192,44,0.9);
}
.blog-grid .blog-grid-grad i:hover {
    background: rgba(114,192,44,1);
}

