
/*--------------------------------------------------
	[9. Call To Action]
----------------------------------------------------*/
/*Call To Action v1
------------------------------------*/
.call-action-v1 p {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 0;
}

.call-action-v1.call-action-v1-boxed {
    padding: 0 25px;
}

.call-action-v1 .call-action-v1-box {
    width: 100%;
    display: table;
    padding: 30px 0;
    vertical-align: middle;
}

.call-action-v1 .call-action-v1-in {
    display: table-cell;
    vertical-align: middle;
}

.call-action-v1 .call-action-v1-in.inner-btn {
    padding-top: 1px;
    min-width: 250px;
    text-align: right;
}

@media (max-width: 992px) {
    .call-action-v1 .call-action-v1-in,
    .call-action-v1 .call-action-v1-in.inner-btn {
        display: block;
        text-align: center;
    }

    .call-action-v1 .call-action-v1-in p {
        margin-bottom: 20px;
    }
}

/*Call To Action v2
------------------------------------*/
.call-action-v2 {
    padding: 50px 0;
    text-align: center;
    background: url(../img/patterns/16.png);
}

.call-action-v2 h2 {
    font-size: 22px;
    text-transform: uppercase;
}

.call-action-v2 p {
    padding: 0 100px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .call-action-v2 p {
        padding: inherit;
    }
}
