
/*--------------------------------------------------
	[17. Flat Background Block]
----------------------------------------------------*/
.flat-bg-block-v1 {
    padding: 40px 0;
    background: url(../images/patterns/16.png) repeat;
}

.flat-bg-block-v1 .checked-list.first-child {
    float: left;
    margin-right: 100px;
}

.flat-bg-block-v1 .checked-list li {
    color: #888;
    margin-bottom: 5px;
}

.flat-bg-block-v1 .checked-list i {
    color: #3498db;
    margin-right: 5px;
}

/*Image Over*/
.flat-bg-block-v1 img.img-over {
    top: -70px;
    right: 10px;
    position: absolute;
}

@media (min-width: 991px) and (max-width: 1199px) {
    .flat-bg-block-v1 img.img-over {
        top: -18px;
    }
}

@media (max-width: 991px) {
    .flat-bg-block-v1 img.img-over {
        position: static;
    }
}
