
/*--------------------------------------------------
	[3. Image Hover Effects]
----------------------------------------------------*/
/*Image Hover v1*/
.img-hover-v1 span {
    display: block;
    overflow: hidden;
    position: relative;
}

.img-hover-v1 span:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
}

.img-hover-v1:hover span:after {
    background: rgba(0,0,0,0.3);
}

.img-hover-v1 img,
.img-hover-v2 img,
.img-hover-v1 span:after {
    transition: all 0.5s ease-in-out;
}

.img-hover-v1:hover img {
    -transform: scale(1.1);
}

/*Image Hover v2*/
.img-hover-v2 img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.img-hover-v2:hover img {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}
