
/*--------------------------------------------------
	[33. News]
----------------------------------------------------*/
/*News v1
------------------------------------*/
.news-section {
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}

.news-v1 .news-v1-in {
    background: #fafafa;
}

.news-v1 h3 {
    margin-bottom: 0;
    font-weight: 200;
    line-height: 28px;
    padding: 10px 15px 15px;
}

.news-v1 h3 a {
    color: #555;
}

.news-v1 h3 a:hover {
    color: #3498db;
}

.news-v1 p {
    color: #555;
    padding: 0 15px;
    margin-bottom: 20px;
}

.news-v1 .news-v1-info {
    margin-left: 0;
    margin-top: 30px;
    overflow: hidden;
    padding: 8px 10px;
    border-top: solid 1px #eee;
}

.news-v1 .news-v1-info li {
    font-size: 12px;
}

.news-v1 .news-v1-info li a:hover {
    color: #3498db;
    text-decoration: none;
}

/*News v2
------------------------------------*/
/*News Badge*/
.news-v2 .news-v2-badge {
    overflow: hidden;
    position: relative;
}

.news-v2 .news-v2-badge p {
    left: 0;
    top: 20px;
    background: #fff;
    padding: 5px 15px;
    text-align: center;
    position: absolute;
}

.news-v2 .news-v2-badge span {
    color: #555;
    display: block;
    font-size: 16px;
    line-height: 16px;
}

.news-v2 .news-v2-badge small {
    color: #555;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
}

/*News Description*/
.news-v2 .news-v2-desc {
    padding: 20px;
    background: #fff;
}

.news-v2 .news-v2-desc h3 {
    margin: 0 0 3px;
    font-size: 16px;
}

.news-v2 .news-v2-desc h3 a {
    color: #555;
}

.news-v2 .news-v2-desc h3 a:hover {
    color: #3498db;
}

.news-v2 .news-v2-desc small {
    color: #555;
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.news-v2 .news-v2-desc p {
    color: #555;
}

/*News v3
------------------------------------*/
/*News Posts*/
.news-v3 .news-v3-in {
    padding: 35px 30px;
}

.news-v3 .news-v3-in-sm {
    padding: 20px;
}

.news-v3 h2 {
    font-size: 32px;
    font-weight: 200;
    margin: 0 0 20px;
    line-height: 45px;
    text-transform: uppercase;
}

.news-v3 .news-v3-in-sm h2 {
    font-size: 22px;
    margin: 0 0 15px;
    line-height: 30px;
    text-transform: inherit;
}

@media (max-width: 768px) {
    .news-v3 h2 {
        font-size: 22px;
        line-height: 30px;
    }
}

.news-v3 h2 a {
    color: #555;
}

.news-v3 h2 a:hover {
    color: #3498db;
    text-decoration: none;
}

.news-v3 p {
    color: #555;
    margin-bottom: 20px;
}

/*News Info*/
.news-v3 .posted-info li {
    color: #555;
    font-style: italic;
}

.news-v3 .news-v3-in-sm .posted-info li {
    padding: 0;
    font-size: 12px;
    padding-left: 5px;
}

.news-v3 .posted-info li:before,
.news-v3 .news-v3-in-sm .posted-info li:before {
    content: '/';
}

.news-v3 .posted-info li:before {
    font-size: 12px;
    line-height: 12px;
    margin-right: 13px;
}

.news-v3 .news-v3-in-sm .posted-info li:before {
    font-size: 11px;
    line-height: 11px;
    margin-right: 9px;
}

.news-v3 .posted-info li:first-child:before,
.news-v3 .news-v3-in-sm .posted-info li:first-child:before {
    content: " ";
    margin-right: 0;
}

.news-v3 .posted-info li a {
    color: #555;
}

.news-v3 .posted-info li a:hover {
    color: #3498db;
}

/*News Shares*/
.news-v3 .post-shares {
    padding-left: 0;
    list-style: none;
    margin: 40px 0 0 -5px;
}

.news-v3 .news-v3-in-sm .post-shares {
    margin: 20px 0 0 -5px;
}

.news-v3 .post-shares li {
    position: relative;
    padding: 0 10px 0 5px;
    display: inline-block;
}

.news-v3 .post-shares li i {
    color: #555;
    width: 40px;
    height: 40px;
    padding: 13px;
    font-size: 16px;
    background: #eee;
    text-align: center;
    display: inline-block;
}

.news-v3 .post-shares li i:hover {
    background: #ddd;
}

.news-v3 .post-shares li span {
    top: -5px;
    right: 6px;
    color: #fff;
    width: 22px;
    height: 22px;
    padding: 4px;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    text-align: center;
    background: #3498db;
    border: 2px solid #fff;
    border-radius: 50% !important;
}

.news-v3 .post-shares-lg li span {
    top: -10px;
    right: 0px;
    width: 29px;
    height: 29px;
    padding: 4px;
    font-size: 10px;
    line-height: 16px;
}
