
/*--------------------------------------------------
	[15. Parallax Team]
----------------------------------------------------*/
.parallax-team {
    background: url(../img/team/faces.jpg) 50% 0 repeat fixed;
}

.parallax-team,
.parallax-team .title-box-v2 {
    position: relative;
}

.parallax-team:before,
.parallax-team-dark:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background: rgba(255,255,255,0.9);
}

/*Parallax Team*/
.parallax-team {
    background: url(../img/team/faces.jpg) 50% 0 repeat fixed;
}

.parallax-team,
.parallax-team .title-box-v2 {
    position: relative;
}

.parallax-team-dark:before {
    background: rgba(0,0,0,0.8);
}
