/*--------------------------------------------------
	[1. Promo Blocks]
----------------------------------------------------*/
/*Promo Background Images*/
.promo-bg-pattern-v1-dark {
    background: url(../images/patterns/5.png) repeat;
}

.promo-bg-pattern-v1-light {
    background: url(../images/patterns/16.png) repeat;
}

/*Promo Background Images*/
.promo-bg-img-v1 {
    background: url(../images/bg/img1.jpg) no-repeat;
    background-size: cover;
}
.promo-bg-img-v2 {
    background: url(../images/bg/img5.jpg) no-repeat;
    background-size: cover;
}
.promo-bg-img-v3 {
    background: url(../images/bg/img10.jpg) no-repeat;
    background-size: cover;
}
.promo-bg-img-v4 {
    background: url(../images/bg/img11.jpg) no-repeat;
    background-size: cover;
}
.promo-bg-img-v5 {
    background: url(../images/bg/img6.jpg) no-repeat;
    background-size: cover;
}

/*Promo Background Fixed*/
.promo-bg-fixed {
    background-attachment: fixed;
}

/*Promo Texts v1*/
.promo-text-v1 {
    padding: 3px 0;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    border-bottom: solid 2px #fff;
}

.promo-text-v1.color-dark {
    border-color: #555;
}

/*Promo Texts v2*/
.promo-text-v2 {
    font-size: 55px;
    font-weight: 600;
    line-height: 63px;
}

/*Promo Video Icon*/
.promo-video-icon-wrap {
    width: 64px;
    height: 64px;
    font-size: 18px;
    line-height: 70px;
    display: inline-block;
    transition: all .3s ease-in-out;
}

.promo-video-icon-wrap:hover {
    color: #333;
    text-decoration: none;
}

.promo-video-icon-wrap.color-light {
    color: #333;
    background: rgba(255,255,255,1);
}
.promo-video-icon-wrap.color-light:hover {
    background: rgba(255,255,255,.9);
}

.promo-video-icon-wrap.color-dark {
    color: #fff;
    background: rgba(0,0,0,.8);
}
.promo-video-icon-wrap.color-dark:hover {
    color: #fff;
    background: rgba(0,0,0,.9);
}

.promo-video-icon {
    left: 3px;
    position: relative;
}
