
/*--------------------------------------------------
	[47. Tabs]
----------------------------------------------------*/
/*Tabs*/
.nav-tabs > li > a,
.nav-pills > li > a,
.nav-tabs.nav-justified > li > a {
    border-radius: 0;
}

/*Tabs v1
------------------------------------*/
.tab-v1 .nav-tabs {
    border: none;
    background: none;
    border-bottom: solid 2px #3498db;
}

.tab-v1 .nav-tabs a {
    font-size: 14px;
    padding: 5px 15px;
}

.tab-v1 .nav-tabs > .active > a,
.tab-v1 .nav-tabs > .active > a:hover,
.tab-v1 .nav-tabs > .active > a:focus {
    color: #fff;
    border: none;
    background: #3498db;
}

.tab-v1 .nav-tabs > li > a {
    border: none;
}
.tab-v1 .nav-tabs > li > a:hover {
    color: #fff;
    background: #3498db;
}

.tab-v1 .tab-content {
    padding: 10px 0;
}

.tab-v1 .tab-content img {
    margin-top: 4px;
    margin-bottom: 15px;
}

.tab-v1 .tab-content img.img-tab-space {
    margin-top: 7px;
}

/*Tabs v2
------------------------------------*/
.tab-v2 .nav-tabs {
    border-bottom: none;
}

.tab-v2 .nav-tabs li a {
    padding: 9px 16px;
    background: none;
    border: none;
}

.tab-v2 .nav-tabs li.active a {
    background: #fff;
    padding: 7px 15px 9px;
    border: solid 1px #eee;
    border-top: solid 2px #3498db;
    border-bottom: none !important;
}

.tab-v2 .tab-content {
    padding: 10px 16px;
    border: solid 1px #eee;
}

/*Tabs v3
------------------------------------*/
.tab-v3 .nav-pills li a {
    color: #777;
    font-size: 17px;
    padding: 4px 8px;
    margin-bottom: 3px;
    background: #fafafa;
    border: solid 1px #eee;
}

.tab-v3 .nav-pills li a:hover,
.tab-v3 .nav-pills li.active a {
    color: #fff;
    background: #3498db;
    border: solid 1px #68af28;
}

.tab-v3 .nav-pills li i {
    width: 1.25em;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
}

.tab-v3 .tab-content {
    padding: 15px;
    background: #fafafa;
    border: solid 1px #eee;
}

/*Tab v4
------------------------------------*/
.tab-v4 .tab-heading {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 3px solid #333;
}

.tab-v4 .tab-heading h2 {
    margin: 0;
    float: left;
    font-size: 18px;
    font-weight: bold;
}

/*Nav Tabs*/
.tab-v4 .nav-tabs {
    top: 3px;
    border: none;
    float: right;
    overflow: hidden;
    position: relative;
}

.tab-v4 .nav-tabs a {
    color: #555;
    font-size: 12px;
    padding: 6px 15px;
    text-transform: uppercase;
}

.tab-v4 .nav-tabs > .active > a,
.tab-v4 .nav-tabs > .active > a:hover,
.tab-v4 .nav-tabs > .active > a:focus {
    border: none;
    background: inherit;
}

.tab-v4 .nav-tabs > li > a {
    border: none;
}
.tab-v4 .nav-tabs > li > a:hover {
    background: inherit;
}

.tab-v4 .tab-content {
    padding: 20px 0 10px;
}

/*Tab v5
------------------------------------*/
.tab-v5 .nav-tabs {
    border-bottom: none;
}

.tab-v5 .nav-tabs li a {
    border: none;
    font-size: 14px;
    background: none;
    padding: 9px 16px;
}

.tab-v5 .nav-tabs li.active a {
    background: #fff;
    padding: 7px 15px 9px;
    border: solid 1px #eee;
    border-top: solid 3px #222;
    border-bottom: none !important;
}

.tab-v5 .tab-content {
    padding: 13px;
    border: solid 1px #eee;
}

/*Tab v6
------------------------------------*/
.tab-v6 .nav-tabs {
    border-bottom-color: #dedede;
}

.tab-v6 .nav-tabs > li {
    margin-right: 30px;
}

.tab-v6 .nav-tabs > li > a {
    border: none;
    color: #687074;
    padding: 6px 0;
    font-size: 18px;
    margin-right: 0;
    background: none;
    text-transform: uppercase;
    border-bottom: solid 1px transparent;
}

.tab-v6 .nav-tabs > li.active > a,
.tab-v6 .nav-tabs > li.active > a:hover,
.tab-v6 .nav-tabs > li.active > a:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #18ba9b;
}

.tab-v6 .nav-tabs > li > a:hover {
    border-bottom: 1px solid #18ba9b;
}

.tab-v6 .nav-tabs > li > a:focus {
    border: none;
}

.tab-v6 .tab-content {
    padding: 30px 0;
}
