
/*--------------------------------------------------
	[53. Tagline Boxes]
----------------------------------------------------*/
/*Tagline Boxes*/
.tag-box  {
    padding: 20px;
    background: #fff;
    margin-bottom: 30px;
}

.tag-box h2 {
    font-size: 20px;
    line-height: 25px;
}

.tag-box p {
    margin-bottom: 0;
}

.tag-box.tag-text-space p {
    margin-bottom: 10px;
}

/*Tagline Boxes v1*/
.tag-box-v1 {
    border: solid 1px #eee;
    border-top: solid 2px #3498db;
}

/*Tagline Boxes v2*/
.tag-box-v2 {
    background: #fafafa;
    border: solid 1px #eee;
    border-left: solid 2px #3498db;
}

/*Tagline Boxes v3*/
.tag-box-v3 {
    border: solid 2px #eee;
}

/*Tagline Boxes v4*/
.tag-box-v4 {
    border: dashed 1px #bbb;
}

/*Tagline Boxes v5*/
.tag-box-v5 {
    margin: 20px 0;
    text-align: center;
    border: dashed 1px #ccc;
}

.tag-box-v5 span {
    color: #555;
    font-size: 28px;
    margin-bottom: 0;
}

/*Tagline Boxes v6*/
.tag-box-v6 {
    background: #fafafa;
    border: solid 1px #eee;
}

/*Tagline Boxes v7*/
.tag-box-v7 {
    border: solid 1px #eee;
    border-bottom: solid 2px #3498db;
}
